---
- name: "Get the list of assets for {{ release_tag }}"
  uri:
    url: "https://api.github.com/repos/{{ github_repo_owner }}/{{ github_repo_name }}/releases/tags/{{ release_tag }}"
    method: GET
    return_content: yes
    headers:
      Authorization: "token {{ github_auth_token }}"
      Accept: "application/vnd.github.v3+json"
  register: assets

- name: Download the specified release package
  command:
    cmd: "curl -L -o {{ assets_path }}{{ item.filename }} -H 'Accept: application/octet-stream' -H 'Authorization: token {{ github_auth_token }}' https://{{ github_auth_token }}:@api.github.com/repos/{{ github_repo_owner }}/{{ github_repo_name }}/releases/assets/{{ item.id }}"
    warn: false
  loop: "{{ assets.json | json_query(asset_query) }}"
  vars:
    asset_query: "assets[*].{id: id, filename: name}"
